@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Open Sans", serif;
}

nav {
    box-shadow: 0px 4px 20px 0px #0000001A;
    padding: 20px 0px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav_info {
            display: flex;
            align-items: center;
            gap: 26px;

            .links {
                display: flex;
                gap: 30px;
                align-items: center;
                list-style: none;

                a {
                    text-decoration: none;
                    font-size: 19px;
                    color: black;

                }
            }

            button {
                padding: 10px 26px;
                color: white;
                background-color: #00BAFC;
                border: none;
                border-radius: 6px;
                transition: all .5s ease;
                cursor: pointer;

                &:hover {
                    background-color: green;
                    color: red;
                }
            }
        }
    }
}

.hero {
    padding: 100px 0px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .hero_info {
            width: 520px;
            h1,
            p {
                margin-bottom: 20px;
            }

            p {
                font-size: 18px;
            }

            button {
                padding: 10px 26px;
                color: white;
                background-color: #00BAFC;
                border: none;
                border-radius: 6px;
                transition: all .5s ease;
                cursor: pointer;

                &:hover {
                    background-color: green;
                    color: red;
                }
            }
        }
    }
}

.s_one {
    padding: 100px 0px;

    .container {
        text-align: center;

        .one_info {
            width: 650px;
            margin: auto;
            text-align: center;

            h1,
            p {
                margin-bottom: 20px;
            }

            p {
                font-size: 15px;
            }
        }

        .one_cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 60px;
            margin-bottom: 35px;
            .card {
                border-radius: 6px;
                width: 300px;
                height: 280px;
                padding: 24px 0px 0px 0px;
                box-shadow: 0px 8px 8px 0px #0000001A;
                &:hover{
                   background-color:green;
                   border-radius: 20px;
                   color: white;
                    transform: scale(1.1);
                }
            }
        }
        .but{
            width: 420px;
            margin: auto;
            display: flex;
            gap: 20px;
            align-items: center;
            button {
                font-size: 20px;
                padding: 10px 26px;
                color: white;
                background-color: #00BAFC;
                border: none;
                border-radius: 6px;
                transition: all .5s ease;
                cursor: pointer;

                &:hover {
                    background-color: green;
                    color: red;
                }
            }
            ul{
                list-style: none;
                a{
                    color: #00BAFC;
                    font-weight: 400;
                    text-align: center;
                }
            }

        }
    }
}
.s_two{
    padding: 100px 0px;
.container{
    text-align: center;
    .two_info {
        width: 650px;
        margin: auto;
        text-align: center;

        h1,
        p {
            margin-bottom: 20px;
        }

        p {
            font-size: 15px;
        }
    }
    .two_boxs{
        .box{
            margin: auto;
            width: 800px;
            display: flex;
            gap: 60px;
            align-items: center;
            text-align: left;
            margin-bottom: 40px;
            img{
                width: 100%;
            }
            .box_info{
                width: 500px;
                h{
                    font-size: 20px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    button {
        font-size: 20px;
        padding: 10px 26px;
        color: white;
        background-color: #00BAFC;
        border: none;
        border-radius: 6px;
        transition: all .5s ease;
        cursor: pointer;

        &:hover {
            background-color: green;
            color: red;
        }
    }
}
}
.footer_one{
    padding: 80px 0px;
    background-color: #00BAFC;
    color: #FFFFFF;
.container{
    text-align: center;
    .fone_info {
        width: 650px;
        margin: auto;
        text-align: center;
        h1,
        p {
            margin-bottom: 20px;
        }

        p {
            font-size: 15px;
        }
    }
    form{
        margin: auto;
        padding: 30px 46px;
        width: 360px;
        background-color: #FFFFFF;
        border-radius: 8px;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        text-align: left;
        input{
            text-align: left;
            padding: 19px 56px;
            background-color: #F3F3F3;
            border-radius: 6px;
            border: none;
            color: #000000;
        }
        select{
            padding: 18px 95px;
            background-color: #F3F3F3;
            border-radius: 6px;
            border: none !important;
            color: #000000;
        }
        button {
            font-size: 20px;
            padding: 10px 26px;
            color: white;
            background-color: #00BAFC;
            border: none;
            border-radius: 6px;
            transition: all .5s ease;
            cursor: pointer;
    margin: auto;
            &:hover {
                background-color: green;
                color: red;
            }
        }
    }
}
}
.footer_two{
    background-color: #191919;
    padding: 80px 0px;
    color: #FFFFFF;
    .container{
        display: flex;
        align-items: center;
        gap: 130px;
        .two_info1{
            width: 320px;
            h2{
                margin-bottom: 16px;
            }
        }
        .two_info2{
            h2{
                margin-bottom: 8px;
            }
            .links {
                gap: 30px;
                align-items: center;
                list-style: none;

                a {
                    text-decoration: none;
                    font-size: 17px;
                    color:#FFFFFF;

                }
            }
        }
        .two_info3{
            h2{
                margin-bottom: 19px;
            }
            p{
                margin-bottom: 15px;
                font-size: 18px;
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }
    }
}